<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
</head>
<body>
<th:block id="main-content">

</th:block>
<th:block id="js-resources">
    <script th:inline="javascript">

    </script>
</th:block>
</body>
</html>