<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
  <meta charset="UTF-8">
  <title>Ảnh</title>
  <th:block id="css-resources">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.1/magnific-popup.css">
   <style>
     .thumb {
       margin-bottom: 15px;
     }
     .thumb:last-child {
       margin-bottom: 0;
     }
     .thumb
     figure img {
         -webkit-transition: .3s ease-in-out;
         transition: .3s ease-in-out;
     }
   </style>
  </th:block>
</head>
<body>
<th:block id="main-content">
  <br>
  <br>
  <section style="margin-top:90px;" class="container">
<!--    <h1 class="my-4 text-center text-lg-left">Image Gallery</h1>-->
    <div class="row gallery" id="lst-image">

        <th:block th:each="img:${lstImage}">
          <div class="col-lg-3 col-md-4 col-xs-6 thumb" id="${img.id}">
    <!--          th:title="${#temporals.format(img.createdTime, 'dd/MM/yyyy HH:mm')}"-->
            <a th:id="${img.id}" th:href="'https://drive.google.com/uc?id='+${img.id}">
              <figure><img class="img-fluid img-thumbnail" th:src="'https://drive.google.com/uc?id='+${img.id}"/></figure>
            </a>
          </div>
        </th:block>

    </div>

  </section>
</th:block>
<th:block id="js-resources">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.1/jquery.magnific-popup.js"></script>
  <script th:inline="javascript">
    $(document).ready(function() {
      $(".gallery").magnificPopup({
        delegate: "a",
        type: "image",
        tLoading: "Loading image #%curr%...",
        mainClass: "mfp-img-mobile",
        gallery: {
          enabled: true,
          navigateByImgClick: true,
          preload: [0, 1], // Will preload 0 - before current, and 1 after the current image
          tCounter: '<span class="mfp-counter">%curr%/%total%</span>'
        },
        image: {
          titleSrc: function(item) {
              var idImg= item.el.attr('id');
            // return item.el.attr('id')+'<a style="margin-left:50px;cursor:pointer">Xóa</a>';
            return '10/02/2020 10:52'+'<a style="margin-left:50px;cursor:pointer" onclick="deleteImg(\'' +idImg+ '\')"><i class="fa fa-lg fa-trash remove-note"></i></a>';
          },
          tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
        }
      });
    });

    function deleteImg(id){
        var result = confirm("Bạn có chắc muốn xóa?");
        if(result)  {
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/dn/delete-image",
                data: {
                    id:id,
                },
                dataType: 'json',
                success: function (data) {
                    if(data.message==true){
                        $.magnificPopup.close();
                        $('#'+id).remove();
                    }
                    if(data.message==false){
                        alert('Lỗi hệ thống');
                    }
                },
                error: function (e) {
                    alert('Lỗi hệ thống');
                    console.log("ERROR : ", e);
                }
            });
        }
    }
  </script>
</th:block>
</body>
</html>